 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Technology Leader with 18 years of experience in result oriented software architecture, design and development. Having a vision and ability to convert the requirement to reality, thoughts to PoCs.</p>
                </div>
                <div class="col-lg-4">
                    <p>Pursuing a Senior Solution Architect or Senior Technical Architect position that requires a individual contributor whereby achievements and performance will be recognized and rewarded.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
